*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(108,101,226);
    background: radial-gradient(circle, rgba(108,101,226,1) 0%, rgba(40,131,175,1) 80%, rgba(0,212,255,1) 100%);
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.apply_box {
    max-width: 600px;
    padding:20px ;
    margin: 0 auto;
    margin-top: 50px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);


    
}
.apply_box h1 {
    color: white;
}

.title_small {
    font-size: 20px;
}

.form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.form_control {
    display: flex;
    flex-direction: column;
}
label {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-bottom: 5px;
}
input, select, textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;

}  
input:focus {
    outline-color:rgb(94, 24, 3) ;
} 

.button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    font-size: 18px;
    background-color: rgb(255, 75, 75);
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.651);
    border: 2px solid rgb(255, 75, 75);
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.textarea_control {
    grid-column: 1 / span 2;
}
.textarea_control textarea {
    width: 100%;
}
@media (max-width:460px){
    .textarea_control {
        grid-column: 1 / span 1;
    }
}